.main-area {
  width: 100%;
}
.form-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid red;
  background-color: lightgreen;
}
.input-data{
  background-color: lightgrey;
  color: blue;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
button {
  background-color: salmon;
  color: white;
  height: 40px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}
